<h1 class="text-center">Edit Submission  <%= @form.id %></h1>
<p> </p>


<%= form_with model: @form, local: true do |f| %>
    <p>
    <div class="form-group">
        <%= f.label :title, 'Title' %>
        <%= f.select(:title, ['Miss', 'Mrs', 'Ms', 'Master', 'Mr', 'Dr', 'Mx' ].sort, {:prompt => 'Please select option...'}, {:class => "form-control"}) %>
    </div>
    <div class="form-group">
        <%= f.label :firstname, 'First Name' %>
        <%= f.text_field(:firstname, {:class => "form-control"}) %>
    </div>
    <div class="form-group">
        <%= f.label :lastname, 'Last Name' %>
        <%= f.text_field(:lastname, {:class => "form-control"}) %>
    </div>
    <div class="form-group">
        <%= f.label :knownas, 'Known As' %>
        <%= f.text_field(:knownas, {:class => "form-control"}) %>
    </div>
    <div class="form-group">
        <%= f.label :q1, 'First very long question?' %>
        <%= f.select(:q1, ['option 1', 'option 2', 'option 3', 'option 4', 'option 5', ], {:prompt => 'Please select option...'}, {:class => "form-control"}) %>
    </div>
    <div class="form-group">
    <%= f.label :q2, 'Second very long question?' %>
    <%= f.select(:q2, ['option 1', 'option 2', 'option 3', 'option 4', 'option 5', ], {:prompt => 'Please select option...'}, {:class => "form-control"}) %>
    </div>
        <div class="form-group">
        <%= f.label :q3, 'First very long question?' %>
        <%= f.select(:q3, ['option 1', 'option 2', 'option 3', 'option 4', 'option 5', ], {:prompt => 'Please select option...'}, {:class => "form-control"}) %>
    </div>
    <div class="form-group">
        <%= f.label :q4, 'First very long question?' %>
        <%= f.select(:q4, ['option 1', 'option 2', 'option 3', 'option 4', 'option 5', ], {:prompt => 'Please select option...'}, {:class => "form-control"}) %>
    </div>
    <div class="form-group">
        <%= f.label :q5, 'First very long question?' %>
        <%= f.select(:q5, ['option 1', 'option 2', 'option 3', 'option 4', 'option 5', ], {:prompt => 'Please select option...'}, {:class => "form-control"}) %>
    </div>
    <div class="form-group">
        <%= f.label :info, 'Any aditional information?' %>
        <%= f.text_area(:info, {:class => "form-control"}) %>
    </div>

    <div class="form-group float-right">
        <%= f.submit 'Save', :class => 'btn btn-primary' %>
    </div>
<% end %>