<h1 class="text-center">All Forms</h1>

<div class="alert alert-info" role="alert">
    Total of <strong><%= @forms.count %></strong> records</h3>
</div>

<% @forms.each do |form| %>
    <div class="modal fade" id="deleteModal<%= form.id %>" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel<%= form.id %>" aria-hidden="false">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="deleteModal<%= form.id %>">
                        Delete Record <%= form.id %>
                    </h5> 
                    <button type="button" class="close" data-dismiss="modal">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">
                    Are you sure you want to remove this record?
                    <p></p>
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>Question</th>
                                <th>Answer</th>
                            </tr>
                        </thead>
                        <tbody>
	                    <tr>
			                <td>Title</td>
			                <td><%= form.title %></td>
                        </tr>
	                    <tr>
			                <td>First Name</td>
			                <td><%= form.firstname %></td>
                        </tr>
	                    <tr>
                            <td>Last Name</td>
			                <td><%= form.lastname %></td>
                        </tr>
	                    <tr>
			                <td>Known As</td>
			                <td><%= form.knownas %></td>
                        </tr>
	                    <tr>
			                <td>Question 1</td>
			                <td><%= form.q1 %></td>
                        </tr>
	                    <tr>
			                <td>Question 2</td>
			                <td><%= form.q2 %></td>
                        </tr>
                        <tr>
			                <td>Question 3</td>
			                <td><%= form.q3 %></td>
                        </tr>
	                    <tr>
                            <td>Question 4</td>
                            <td><%= form.q4 %></td>
                        </tr>
                        <tr>
                            <td>Question 5</td>
			                <td><%= form.q5 %></td>
                        </tr>
	                    <tr>
			                <td>Info</td>
			                <td><%= form.info %></td>
                        </tr>
	                    <tr>
			                <td>Created</td>
			                <td><%= form.created_at.to_formatted_s(:long_ordinal) %></td>
                        </tr>
	                    <tr>
			                <td>Updated</td>
			                <td><%= form.updated_at.to_formatted_s(:long_ordinal) %></td>
                        </tr>
	                    </tbody>
                    </table>
                    
                </div>
                <div class="modal-footer">
                    <%= button_to "Delete", form_path(form), method: :delete, :class => "btn btn-danger" %>
                </div>
            </div>	
        </div>
    </div>
<% end %>

<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Info</th>
            <th>Updated</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
    </th>

    <% @forms.each do |form| %>
        <tr>
            <td><%= link_to form.id, form_path(form), method: :get %></td>
            <td><%= form.firstname.capitalize %></td>
            <td><%= form.lastname.capitalize %></td>
            <td><%= form.info.first(100) %></td>
            <td><%= form.updated_at.to_formatted_s(:long_ordinal) %></td>
            <td><%= button_to "Edit", edit_form_path(form), method: :get, :class => "btn btn-primary" %></td>
            <td><button type="button" class="btn btn-danger" data-toggle="modal" data-target="#deleteModal<%= form.id %>">Delete</button></td>
        </tr>
    <% end %>

</table>


