<h1 class="text-center">New Submission</h1>
<p> </p>
<div class="alert alert-dismissable alert-info">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">
        ×
    </button>
    <h4 class="text-center">Start</h4>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
</div>

<p></p>

<%= form_with scope: :form, url: forms_path, local: true do |f| %>
    <p>
    <div class="form-group">
        <%= f.label :title, 'Title' %>
        <%= f.select(:title, ['Miss', 'Mrs', 'Ms', 'Master', 'Mr', 'Dr', 'Mx' ].sort, {:prompt => 'Please select option...'}, {:class => "form-control"}) %>
    </div>
    <div class="form-group">
        <%= f.label :firstname, 'First Name' %>
        <%= f.text_field(:firstname, {:class => "form-control"}) %>
    </div>
    <div class="form-group">
        <%= f.label :lastname, 'Last Name' %>
        <%= f.text_field(:lastname, {:class => "form-control"}) %>
    </div>
    <div class="form-group">
        <%= f.label :knownas, 'Known As' %>
        <%= f.text_field(:knownas, {:class => "form-control"}) %>
    </div>
    <div class="form-group">
        <%= f.label :q1, 'First very long question?' %>
        <%= f.select(:q1, ['option 1', 'option 2', 'option 3', 'option 4', 'option 5', ], {:prompt => 'Please select option...'}, {:class => "form-control"}) %>
    </div>
    <div class="form-group">
    <%= f.label :q2, 'Second very long question?' %>
    <%= f.select(:q2, ['option 1', 'option 2', 'option 3', 'option 4', 'option 5', ], {:prompt => 'Please select option...'}, {:class => "form-control"}) %>
    </div>
        <div class="form-group">
        <%= f.label :q3, 'First very long question?' %>
        <%= f.select(:q3, ['option 1', 'option 2', 'option 3', 'option 4', 'option 5', ], {:prompt => 'Please select option...'}, {:class => "form-control"}) %>
    </div>
    <div class="form-group">
        <%= f.label :q4, 'First very long question?' %>
        <%= f.select(:q4, ['option 1', 'option 2', 'option 3', 'option 4', 'option 5', ], {:prompt => 'Please select option...'}, {:class => "form-control"}) %>
    </div>
    <div class="form-group">
        <%= f.label :q5, 'First very long question?' %>
        <%= f.select(:q5, ['option 1', 'option 2', 'option 3', 'option 4', 'option 5', ], {:prompt => 'Please select option...'}, {:class => "form-control"}) %>
    </div>
    <div class="form-group">
        <%= f.label :info, 'Any aditional information?' %>
        <%= f.text_area(:info, {:class => "form-control"}) %>
    </div>

    <div class="form-group float-right">
        <%= f.submit 'Continue', :class => 'btn btn-primary' %>
    </div>
<% end %>
