<h1 class="text-center">Form <%= @form.id %></h1>


<table class="table table-hover">
    <thead>
        <tr>
            <th>
                Question
			</th>
            <th>
                Answer
            </th>
    </thead>
    <tbody>
	    <tr>
			<td>
                Title
			</td>
			<td>
                <%= @form.title %>
            </td>
        </tr>
	    <tr>
			<td>
                First Name
			</td>
			<td>
                <%= @form.firstname %>
            </td>
        </tr>
	    <tr>
			<td>
                Last Name
			</td>
			<td>
                <%= @form.lastname %>
            </td>
        </tr>
	    <tr>
			<td>
                Known As
			</td>
			<td>
                <%= @form.knownas %>
            </td>
        </tr>
	    <tr>
			<td>
                Question 1
			</td>
			<td>
                <%= @form.q1 %>
            </td>
        </tr>
	    <tr>
			<td>
                Question 2
			</td>
			<td>
                <%= @form.q2 %>
            </td>
        </tr>
	    <tr>
			<td>
                Question 3
			</td>
			<td>
                <%= @form.q3 %>
            </td>
        </tr>
	    <tr>
			<td>
                Question 4
			</td>
			<td>
                <%= @form.q4 %>
            </td>
        </tr>
	    <tr>
			<td>
                Question 5
			</td>
			<td>
                <%= @form.q5 %>
            </td>
        </tr>
	    <tr>
			<td>
                Info
			</td>
			<td>
                <%= @form.info %>
            </td>
        </tr>
	    <tr>
			<td>
                Created
			</td>
			<td>
                <%= @form.created_at.to_formatted_s(:long_ordinal) %>
            </td>
        </tr>
	    <tr>
			<td>
                Updated
			</td>
			<td>
                <%= @form.updated_at.to_formatted_s(:long_ordinal) %>
            </td>
        </tr>
	</tbody>
</table>
<p></p>
<p><%= button_to "Edit", edit_form_path(@form), method: :get, :class => "btn btn-primary float-right" %></p>
<p></p>