<!DOCTYPE html>
<html>
  <head>
    <title>TestRails</title>
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

	<div class="container-float">
		<div class="row">
			<div class="col-md-12 text-white">
				<nav class="navbar navbar-dark bg-primary"> 
					<a class="navbar-brand" href="/">Test Rails</a>
						<ul class="navbar-nav">
							<li class="nav-item active">
							 	<a class="nav-link" href="/forms">All Forms</a>
							</li>
						</ul>
						<ul class="navbar-nav ml-md-auto">
							<li class="nav-item active">
								 <a class="nav-link" href="https://gitlab.com"><i class="fab fa-gitlab"></i> Source</a>
							</li>
						</ul>
				</nav>
			</div>
		</div>
	</div>
	<div class="container-float ">
		<div class="row">
       		<div class="col-md-2 bg-primary">
        	</div>
        	<div class="col-md-8 bg-light">
          		<%= yield %>
        	</div>
			<div class="col-md-2 bg-primary">
			</div>
		</div>
	</div>
	<div class="container-float text-center text-md-left">
		<footer class="page-footer font-small bg-primary text-white">
			<div class="footer-copyright text-center py-3">Test Rails App
			</div>
		</footer>
	</div>
  </body>
</html>
